<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EstNote - Acerca De</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
</head>

<body>
    <div class="contenido">

        <div id="menu" class="menu collapsed">
            <button id="boton_menu">☰</button>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}"><span><img
                                    src="{{ url_for('static', filename='img/inicio.svg') }}" alt="Inicio"></span><span
                                class="text">Inicio</span></a></li>
                    <li><a href="{{ url_for('periodo') }}">
                            <span><img src="{{ url_for('static', filename='img/materias.svg') }}" alt="Materias"></span>
                            <span class="text">Gestor Academico</span>
                        </a></li>
                    <li><a href="{{ url_for('configuracion') }}"><span><img
                                    src="{{ url_for('static', filename='img/calificaciones.svg') }}"
                                    alt="Calificaciones"></span><span class="text">Configuración de
                                Asignatura</span></a></li>
                    <li><a href="{{ url_for('acerca') }}"><span><img
                                    src="{{ url_for('static', filename='img/info.svg')}}" alt="Acerca de"></span><span
                                class="text">Acerca de</span></a></li>
                    <li><a href="{{ url_for('ayuda') }}"><span><img
                                    src="{{ url_for('static', filename='img/ayuda.svg') }}" alt="Ayuda"></span><span
                                class="text">Ayuda</span></a></li>
                </ul>
            </nav>
        </div>


        <header>
            <div class="logo">
                <img src="{{url_for('static', filename='img/estnotelogo.svg')}}" alt="Logo">
            </div>
            <h1>EstNote</h1>
            <div class="usuario">
                <a href="{{ url_for('perfil_usuario') }}">
                    <img src="{{ url_for('static', filename='img/usuario.svg') }}" alt="Perfil de usuario">
                </a>
            </div>
        </header>



        <main>
            <h1>Acerca de EstNote</h1>
            <div class="Dividir"></div>
            <p><strong>EstNote</strong> es una plataforma diseñada para ayudarte a gestionar tu vida académica de forma
                simple y organizada. Con esta herramienta puedes:</p>
            <ul>
                <li>Registrar y visualizar tus materias</li>
                <li>Organizar tus calificaciones por periodos</li>
                <li>Calcular automáticamente tu nota final</li>
                <li>Tener un mejor control de tu desempeño académico</li>
            </ul>

            <h2>¿Quiénes somos?</h2>
            <p><strong>EstNote</strong> es una aplicación desarrollada por <strong>TeamNova</strong>, un equipo creativo
                enfocado en
                ofrecer soluciones tecnológicas útiles. Este proyecto refleja nuestro compromiso con la educación, la
                organización académica y el desarrollo de herramientas que aporten valor a la vida estudiantil.</p>

            <h2>Contacto</h2>
            <p>¿Tienes preguntas, sugerencias o comentarios? Puedes escribirnos a:</p>
            <ul>
                <li>Email: soporte@teamnova.com</li>
            </ul>
        </main>



        <script src="{{url_for('static', filename='scripts/script.js')}}"></script>

    </div>
</body>

</html>