<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EstNote - Periodos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
</head>

<body>
    <div class="contenido">

        <div id="menu" class="menu collapsed">
            <button id="boton_menu">☰</button>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}"><span><img
                                    src="{{ url_for('static', filename='img/inicio.svg') }}" alt="Inicio"></span><span
                                class="text">Inicio</span></a></li>
                    <li><a href="{{ url_for('periodo')}}"><span><img
                                    src="{{ url_for('static', filename='img/periodos.svg') }}"
                                    alt="Periodos"></span><span class="text">Periodos</span></a></li>
                    <li><a href="{{ url_for('materias' )}}"><span><img
                                    src="{{ url_for('static', filename='img/materias.svg') }}"
                                    alt="Materias"></span><span class="text">Materias</span></a></li>
                    <li><a href="#"><span><img src="{{ url_for('static', filename='img/calificaciones.svg') }}"
                                    alt="Calificaciones"></span><span class="text">Calificaciones</span></a></li>
                    <li><a href="#"><span><img src="{{ url_for('static', filename='img/info.svg')}}"
                                    alt="Acerca de"></span><span class="text">Acerca de</span></a></li>
                    <li><a href="#"><span><img src="{{ url_for('static', filename='img/ayuda.svg') }}"
                                    alt="Ayuda"></span><span class="text">Ayuda</span></a></li>
                </ul>
            </nav>
        </div>


        <header>
            <div class="logo">
                <img src="{{url_for('static', filename='img/estnotelogo.svg')}}" alt="Logo">
            </div>
            <h1>EstNote</h1>
            <div class="usuario">
                <a href=""><img src="{{url_for('static', filename='img/usuario.svg')}}" alt=""></a>
            </div>
        </header>

        <main>
            <h2>Formulario para agregar periodos o semestres</h2>
            <form action="/agregar_periodo" method="post" class="formulario">

                <div style="color: rgb(13, 255, 0);">
                    {% if mensaje %}
                    {{ mensaje }}
                    {% endif %}
                </div>

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre">

                <label for="inicio">Fecha inicio:</label>
                <input type="date" name="inicio">

                <label for="fin">Fecha fin:</label>
                <input type="date" name="fin">

                <label for="tipo">Tipo:</label>
                <select name="tipo" id="tipo">
                    <option value="periodo">Periodo</option>
                    <option value="semestre">Semestre</option>
                </select>

                <label for="porcentaje">Porcentaje:</label>
                <input type="range" id="porcentajePeriodo" name="porcentajePeriodo" min="0" step="1" value="25"
                    oninput="outputPorcentaje.value = porcentajePeriodo.value + '%'">
                <output id="outputPorcentaje">25%</output>

                <button type="submit">Agregar Periodo</button>
            </form>
        </main>

        <script src="{{url_for('static', filename='scripts/script.js')}}"></script>

    </div>
</body>

</html>