<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EstNote - Editar Profesor</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
</head>

<body>
    <div class="contenido">

        <div id="menu" class="menu collapsed">
            <button id="boton_menu">☰</button>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}"><span><img
                                    src="{{ url_for('static', filename='img/inicio.svg') }}" alt="Inicio"></span><span
                                class="text">Inicio</span></a></li>
                    <li><a href="{{ url_for('periodo') }}">
                            <span><img src="{{ url_for('static', filename='img/materias.svg') }}" alt="Materias"></span>
                            <span class="text">Gestor Academico</span>
                        </a></li>
                    <li><a href="{{ url_for('configuracion') }}"><span><img
                                    src="{{ url_for('static', filename='img/calificaciones.svg') }}"
                                    alt="Calificaciones"></span><span class="text">Configuración de
                                Asignatura</span></a></li>
                    <li><a href="{{ url_for('acerca') }}"><span><img
                                    src="{{ url_for('static', filename='img/info.svg')}}" alt="Acerca de"></span><span
                                class="text">Acerca de</span></a></li>
                    <li><a href="{{ url_for('ayuda') }}"><span><img
                                    src="{{ url_for('static', filename='img/ayuda.svg') }}" alt="Ayuda"></span><span
                                class="text">Ayuda</span></a></li>
                </ul>
            </nav>
        </div>


        <header>
            <div class="logo">
                <img src="{{url_for('static', filename='img/estnotelogo.svg')}}" alt="Logo">
            </div>
            <h1>EstNote</h1>
            <div class="usuario">
                <a href="{{ url_for('perfil_usuario') }}">
                    <img src="{{ url_for('static', filename='img/usuario.svg') }}" alt="Perfil de usuario">
                </a>
            </div>
        </header>

        <main>
            <h2>Formulario para Editar Profesor</h2>

            <form method="POST" class="formulario">
                <label>Nombre:</label>
                <input type="text" name="nombre" value="{{ profesor[2] }}" required>

                <label>Correo:</label>
                <input type="email" name="correo" value="{{ profesor[3] }}">

                <label>Teléfono:</label>
                <input type="text" name="telefono" value="{{ profesor[4] }}">

                <button type="submit">Guardar Cambios</button>
            </form>

        </main>

        <script src="{{url_for('static', filename='scripts/script.js')}}"></script>

    </div>
</body>

</html>