<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EstNote - Materias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
</head>

<body>
    <div class="contenido">

        <div id="menu" class="menu collapsed">
            <button id="boton_menu">☰</button>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}"><span><img
                                    src="{{ url_for('static', filename='img/inicio.svg') }}" alt="Inicio"></span><span
                                class="text">Inicio</span></a></li>
                    <li><a href="{{ url_for('periodo') }}">
                            <span><img src="{{ url_for('static', filename='img/materias.svg') }}" alt="Materias"></span>
                            <span class="text">Gestor Academico</span>
                        </a></li>
                    <li><a href="{{ url_for('configuracion') }}"><span><img
                                    src="{{ url_for('static', filename='img/calificaciones.svg') }}"
                                    alt="Calificaciones"></span><span class="text">Configuración de
                                Asignatura</span></a></li>
                    <li><a href="{{ url_for('acerca') }}"><span><img
                                    src="{{ url_for('static', filename='img/info.svg')}}" alt="Acerca de"></span><span
                                class="text">Acerca de</span></a></li>
                    <li><a href="{{ url_for('ayuda') }}"><span><img
                                    src="{{ url_for('static', filename='img/ayuda.svg') }}" alt="Ayuda"></span><span
                                class="text">Ayuda</span></a></li>
                </ul>
            </nav>
        </div>

        <header>
            <div class="logo">
                <img src="{{url_for('static', filename='img/estnotelogo.svg')}}" alt="Logo">
            </div>
            <h1>EstNote</h1>
            <div class="usuario">
                <a href="{{ url_for('perfil_usuario') }}">
                    <img src="{{ url_for('static', filename='img/usuario.svg') }}" alt="Perfil de usuario">
                </a>
            </div>
        </header>

        <main>

            <p>Selecciona una Materia:</p>

            <div class="materias-contenedor">
                {% for m in materias %}
                <div
                    class="materia {% if m[5] is not none %}{% if m[5] >= 4.5 %}excelente{% elif m[5] >= 4.0 %}alto{% elif m[5] >= 3.0 %}aprobado{% else %}reprobado{% endif %}{% else %}sin-nota{% endif %}">
                    <a href="{{ url_for('verMateria', id_materia=m[0]) }}">
                        <div class="info">
                            <h3>{{ m[1] }}</h3>
                            <p><strong>Área:</strong> {{ m[3] }}</p>
                            <p><strong>Porcentaje en el periodo:</strong> {{ m[2] }}%</p>
                            <p><strong>Profesor(es):</strong> {{ m[4] }}</p>
                            <p><strong>Resultado final:</strong> {{ m[5]|round(1, 'common') if m[5] is not none else
                                'Sin nota' }}</p>
                        </div>
                    </a>
                    <div class="acciones">
                        <a href="{{ url_for('editarMateria', id_materia=m[0]) }}">Editar</a>
                        <a href="{{ url_for('eliminarMateria', id_materia=m[0]) }}">Eliminar</a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </main>

        <script src="{{url_for('static', filename='scripts/script.js')}}"></script>

    </div>
</body>

</html>