<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EstNote - Materias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
</head>

<body>
    <div class="contenido">

        <div id="menu" class="menu collapsed">
            <button id="boton_menu">☰</button>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}"><span><img
                                    src="{{ url_for('static', filename='img/inicio.svg') }}" alt="Inicio"></span><span
                                class="text">Inicio</span></a></li>
                    <li><a href="{{ url_for('periodo')}}"><span><img
                                    src="{{ url_for('static', filename='img/periodos.svg') }}"
                                    alt="Periodos"></span><span class="text">Periodos</span></a></li>
                    <li><a href="{{ url_for('materias' )}}"><span><img
                                    src="{{ url_for('static', filename='img/materias.svg') }}"
                                    alt="Materias"></span><span class="text">Materias</span></a></li>
                    <li><a href="#"><span><img src="{{ url_for('static', filename='img/calificaciones.svg') }}"
                                    alt="Calificaciones"></span><span class="text">Calificaciones</span></a></li>
                    <li><a href="#"><span><img src="{{ url_for('static', filename='img/info.svg')}}"
                                    alt="Acerca de"></span><span class="text">Acerca de</span></a></li>
                    <li><a href="#"><span><img src="{{ url_for('static', filename='img/ayuda.svg') }}"
                                    alt="Ayuda"></span><span class="text">Ayuda</span></a></li>
                </ul>
            </nav>
        </div>


        <header>
            <div class="logo">
                <img src="{{url_for('static', filename='img/estnotelogo.svg')}}" alt="Logo">
            </div>
            <h1>EstNote</h1>
            <div class="usuario">
                <a href=""><img src="{{url_for('static', filename='img/usuario.svg')}}" alt=""></a>
            </div>
        </header>

        <main>

            <form class="filtro-periodos" action="{{ url_for('verPeriodo') }}" method="get">
                <select name="periodo_id">
                    <option value="">Todos los periodos</option>
                    {% for periodo in periodos %}
                    <option value="{{ periodo[0] }}">{{ periodo[2] }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filtrar</button>
            </form>

            <button class="agregar"><a href="{{ url_for('agregarMaterias') }}">Agregar Materia</a></button>
            <div class="materias-contenedor">
                {% for m in materias %}
                <div class="materia">
                    <a href="#">
                        <div class="info">
                            <h3>{{ m[3] }}</h3>
                            <p><strong>Área:</strong> {{ m[4] }} </p>
                            <p><strong>Porcentaje en el periodo:</strong> {{ m[5] }} </p>
                            <p><strong>Profesor:</strong> {{ m[6] }} </p>
                            <p><strong>Resultados final:</strong></p>
                        </div>
                        <div class="acciones">
                            <a href="{{ url_for('editarMateria', id_materia= m[0]) }}">Editar</a>
                            <a href="{{ url_for('eliminarMateria', id_materia= m[0]) }}">Eliminar</a>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </main>

        <script src="{{url_for('static', filename='scripts/script.js')}}"></script>

    </div>
</body>

</html>