<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EstNote - Periodos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
</head>

<body>
    <div class="contenido">

        <div id="menu" class="menu collapsed">
            <button id="boton_menu">☰</button>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}"><span><img
                                    src="{{ url_for('static', filename='img/inicio.svg') }}" alt="Inicio"></span><span
                                class="text">Inicio</span></a></li>
                    <li><a href="{{ url_for('periodo') }}">
                            <span><img src="{{ url_for('static', filename='img/materias.svg') }}" alt="Materias"></span>
                            <span class="text">Gestor Academico</span>
                        </a></li>
                    <li><a href="{{ url_for('configuracion') }}"><span><img
                                    src="{{ url_for('static', filename='img/calificaciones.svg') }}"
                                    alt="Calificaciones"></span><span class="text">Configuración de
                                Asignatura</span></a></li>
                    <li><a href="#"><span><img src="{{ url_for('static', filename='img/info.svg')}}"
                                    alt="Acerca de"></span><span class="text">Acerca de</span></a></li>
                    <li><a href="#"><span><img src="{{ url_for('static', filename='img/ayuda.svg') }}"
                                    alt="Ayuda"></span><span class="text">Ayuda</span></a></li>
                </ul>
            </nav>
        </div>


        <header>
            <div class="logo">
                <img src="{{url_for('static', filename='img/estnotelogo.svg')}}" alt="Logo">
            </div>
            <h1>EstNote</h1>
            <div class="usuario">
                <a href=""><img src="{{url_for('static', filename='img/usuario.svg')}}" alt=""></a>
            </div>
        </header>

        <main>

            <button class="agregar"><a href="{{ url_for('agregarPeriodo') }}">Agregar Periodo</a></button>

            <p>Selecciona un periodo:</p>

            <div class="materias-contenedor">
                {% for p in periodos %}
                <div
                    class="materia {% if p[4] is not none %}{% if p[4] >= 4.5 %}excelente{% elif p[4] >= 4.0 %}alto{% elif p[4] >= 3.0 %}aprobado{% else %}reprobado{% endif %}{% else %}sin-nota{% endif %}">
                    <a href="{{ url_for('materias', id_periodo=p[0]) }}">
                        <div class="info">
                            <h3>{{ p[1] }}</h3>
                            <p><strong>Fecha inicio:</strong> {{ p[2] }}</p>
                            <p><strong>Fecha fin:</strong> {{ p[3] }}</p>
                            <p><strong>Resultado final:</strong> {% if p[4] is not none %}{{ p[4]|round(1, 'common')
                                }}{% else %}Sin nota{% endif %}</p>
                        </div>
                    </a>
                    <div class="acciones">
                        <a href="{{ url_for('editarPeriodo', id_periodo=p[0]) }}">Editar</a>
                        <a href="{{ url_for('eliminarPeriodo', id_periodo=p[0]) }}">Eliminar</a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </main>

        <script src="{{url_for('static', filename='scripts/script.js')}}"></script>

    </div>
</body>

</html>